body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: rgb(53, 53, 53);
    border-bottom: orange 6px solid;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header a {
    border: 3px solid white;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

header a:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 10px orange;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

/* left */

.left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    border-right: 5px solid black;
    gap: 15px
}


.left p {
    font-size: 30px;
    margin: 0;
    gap: 0px;
}

.left input {
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: 5px solid black;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
}

.left #enter-button {
    border: solid 4px black;
    padding: 5px;
    border-radius: 10px;
}

.left #enter-button:hover {
    border: green solid 4px;
    cursor: pointer;
    background-color: darkseagreen;
}

#word-display {
    width: 100%;
    display: flex;
    justify-content: center;
}


#generated-word {
    margin: 0;
    text-align: center;
    display: inline-block;
    margin-right: -30px;
    letter-spacing: 30px;
    font-size: 50px;
}

/* right */

.right {
    justify-content: right;
    height: 100vh;
    width: 50%;
}