body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: rgb(53, 53, 53);
    border-bottom: orange 6px solid;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header a {
    border: 3px solid white;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

header a:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 10px orange;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

main p {
    font-size: 30px;
    margin: 0;
}

main input {
    width: 75px;
    height: 75px;
    font-size: 60px;
    border: 5px solid black;
    text-align: center;
    border-radius: 10px;
}