body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: rgb(53, 53, 53);
    border-bottom: orange 6px solid;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header a {
    border: 3px solid white;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    padding: 10px 15px;
}

header a:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 10px orange;
}

.main {
    display: flex;
    height: calc(100vh - 100px);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    width: 50%;
    border-right: 5px solid black;
    gap: 15px;
}

.left p {
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
}

.left input {
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: 5px solid black;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
}

#enter-button {
    border: 4px solid black;
    padding: 5px;
    border-radius: 10px;
}

#enter-button:hover {
    border: 4px solid green;
    cursor: pointer;
    background-color: darkseagreen;
}

#generated-word {
    margin: 0;
    text-align: center;
    display: inline-block;
    margin-right: -30px;
    letter-spacing: 30px;
    font-size: 50px;
}

#wrong-letters {
    color: red;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    gap: 15px;
}

.right img {
    display: block;
    width: 200px;
    border: 5px solid darkorange;
    border-radius: 10px;
}
